<div class="col-md-3 col-md-offset-3">
  <div class="well">
    <h3>Scenarios</h3>
    <form role="form" class="settings" ng-submit="">


      <div class="form-group">
        <label style="padding: 10px;">Gym</label>
        <i class="fa fa-toggle-on active"
           ng-if="status_gym == true"
           ng-click="changeStatusGym();">
        </i>
        <i class="fa fa-toggle-on fa-rotate-180 inactive"
           ng-if="status_gym == false"
           ng-click="changeStatusGym();">
        </i>
      </div>


      <div class="form-group">

        <label style="padding: 10px;">Work</label>
        <i class="fa fa-toggle-on active"
           ng-if="status_work == true"
           ng-click="changeStatusWork();">
        </i>
        <i class="fa fa-toggle-on fa-rotate-180 inactive"
           ng-if="status_work == false"
           ng-click="changeStatusWork();">
        </i>
      </div>

      <div class="form-group" align="right">
        <button type="submit" class="btn btn-primary">Go</button>
      </div>
    </form>
  </div>
</div>

<div class="col-md-3 col-md-offset-0">
  <div class="well">
    <h3>Articles</h3>
    <form role="form" class="settings" ng-submit="">


      <div class="form-group">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">Tennis shoes</label>

        <div class="btn-group " data-toggle="buttons">
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="gym" value="gym">Gym
        </label>
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="work" value="work">Work
        </label>
        </div>

      </div>


      <div class="form-group">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">Wallet</label>

        <div class="btn-group " data-toggle="buttons">
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="gym" value="gym">Gym
        </label>
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="work" value="work">Work
        </label>
        </div>

      </div>

      <div class="form-group">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">Keys</label>

        <div class="btn-group " data-toggle="buttons">
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="gym" value="gym">Gym
        </label>
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="work" value="work">Work
        </label>
        </div>

      </div>

      <div class="form-group">
        <label class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="padding: 10px;">Towel</label>

        <div class="btn-group " data-toggle="buttons">
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="gym" value="gym">Gym
        </label>
        <label class="btn btn-default btn-intel">
            <input type="checkbox" name="fruit" id="work" value="work">Work
        </label>
        </div>

      </div>

      <div class="form-group" align="right">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>